.button-container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.button {
  background-color: #000080; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 125px;
  min-width: 125px;
  margin-right: 2%;
}
